@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
    font-family: Roboto;
    background-image: url('./img/fundo.jpg');
    background-position: 50% 30%;
}

#menu {
    display: none;
}
#btn-menu {
    display: none;
}

header {
    text-align: center;
    border-radius: 10px;
    height: 45px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 129, 0);
    line-height: 45px;
}

nav {
    overflow: hidden;
}
nav a {
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 11.6px;
}
nav a:hover {
    transition: 200ms;
    color: black;
    font-weight: 700;
    background-color: rgb(0, 150, 0);
}

.titulo {
    color: yellow;
    background-color: rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 6px;
}

main {
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    background-color: black;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    border-color: rgb(0, 129, 0);
    border-style: solid;
    border-right: 0;
    border-left: 0;
}

#winners {
    width: 90%;
    margin-left: 10px;
}

#imagens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#intro {
    margin-left: 10px;
}

.intro {
    word-break: break-word;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.intro p {
    margin-left: 10px;
    margin-right: 10px;
}

/*Rodapé*/
footer {
    border-top: 5px;
    border-color: rgb(0, 129, 0);
    border-style: ridge;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#sec1 {
    margin-left: 10px;
}
#sec2 {
    text-align: right;
    margin-right: 10px;
}

/*Responsivo Tablet*/
@media (max-width: 1296px) {
    header {
        width: 50%;
    }
    main {
        margin-left: 0;
        margin-right: 0;
    }
}

/*Responsivo Mobile*/
@media (max-width: 600px) {
    body {
        margin: 0px;
    }
    nav {
        display: grid;
        grid-template-columns: 1fr;
        height: 31px;
    }
    nav a {
        padding: 0px;
        top: -200px;
        position: relative;
    }
    header {
        height: fit-content;
        width: 100%;
        border-radius: 0;
    }
    .titulo {
        border-radius: 0;
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    #winners {
        width: 100%;
        margin: 0;
    }
    .intro {
        grid-template-columns: 1fr;
        word-wrap: break-word;
    }
    /*Menu*/
    #btn-menu {
        display: block;
        position: absolute;
        width: 30px;
        filter: invert();
        left: 5px;
        z-index: 1;
    }
    #menu:checked ~ nav a{
        top: 0;
        transition: 200ms;
    }
    #menu:checked ~ nav {
        height: fit-content;
    }
    #imagens {
        gap: 6px;
        grid-template-columns: 1fr;
    }
    /*Rodapé*/
    footer {
        grid-template-columns: 1fr;
    }
    #sec1,#sec2{
        text-align: center;
    }
}